<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chevalier Mal Fet</title>
  <center><h1>Chevalier Mal Fet</h1></center><br>
  <center><h1>Tweet Generator</h1></center>
</head>
<style>
  body {
    color:PaleVioletRed;
  }
</style>
<body>
<center><h3>Generate a Sentence!</h3></center><br>
<form action = '/result' method= 'GET'>
  Start!
  <input type = "submit">
  </form>
</body>
</html>
